<p *ngIf="!messagesResponse.messages"><em>Loading...</em></p>

<table class='table' aria-labelledby="tableLabel" *ngIf="messagesResponse.messages">
  <tbody>
    <tr *ngFor="let message of messagesResponse.messages">
      <td>
        <mat-card>
          <mat-card-title>
            <mat-grid-list cols="2" rowHeight="1em">
              <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightblue">
                <div class="message-user">{{message.user}}</div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightblue">
                <div class="message-created">{{message.created | date: 'medium' }}</div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-title>
          <mat-card-content style="border: 1px solid red;">
            <div class="message-content">{{message.content}}</div>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <button mat-button color="primary" (click)="reply()" [hidden]="showReply">Reply</button>
      </td>
    </tr>
    <tr *ngIf="showReply">
      <td>
        <mat-card>
          <form [formGroup]="form" (ngSubmit)="postReply()">

            <div class="form-group input-group-lg">
              <input class="form-control" placeholder="User" formControlName="user">
            </div>

            <div class="form-group input-group-lg">
              <input class="form-control" placeholder="Message" formControlName="message">
            </div>

            <div class="form-group">
              <button class="btn btn-danger btn-block btn-lg">Post Reply</button>
            </div>
          </form>
          <mat-card-actions>
            <div class="message-content">
              <button mat-button color="primary" type="submit">Post Reply</button>
              <a [routerLink]="" (click)="cancelReply()">Cancel</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </td>
    </tr>
  </tfoot>
</table>
