<p *ngIf="!messagesResponse.messages"><em>Loading...</em></p>

<table class='table' aria-labelledby="tableLabel" *ngIf="messagesResponse.messages">
  <tbody>
    <tr *ngFor="let message of messagesResponse.messages">
      <td class="table-message">        
        <table class="table-message-container">
          <thead>
            <tr class="table-message-header">
              <td class="table-message-user">{{message.user}}</td>
              <td class="table-message-created">{{message.created | date: 'medium' }}</td>
            </tr>
            <tr class="table-message-body">
              <td colspan="2" class="table-message-content">
                {{message.content}}
              </td>
            </tr>
          </thead>
        </table>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <button mat-button color="primary" (click)="reply()" [hidden]="showReply" class="reply-btn btn btn-danger btn-block btn-lg btn-action">Reply</button>
      </td>
    </tr>
    <tr *ngIf="showReply">
      <td>
        <mat-card>
          <form [formGroup]="form" (ngSubmit)="postReply()">

            <div class="form-group input-group-lg">
              <input class="form-control form-user" placeholder="User" formControlName="user" maxlength="20" size="20">
            </div>

            <div class="form-group input-group-lg">
              <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
            </div>

            <div class="form-group">
              <div class="form-actions">
                <button class="btn btn-danger btn-block btn-lg post-reply-btn btn-action">Post Reply</button>
                <a [routerLink]="" (click)="cancelReply()">Cancel</a>
              </div>            
            </div>
          </form>
        </mat-card>
      </td>
    </tr>
  </tfoot>
</table>
